@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden !important;
}

h1{
  line-height: 115% !important;
  /* font-size: 54px; */
}

.navbar{
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  background: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #f2f4f7;
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 100;
}

.navbar .btn-demo {
  color: white;
  background-color: #0b94f5;
  max-height: 44px;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 9999px;
  display: inline-flex;
  font-family: "Inter var", sans-serif;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0;
  line-height: 24px;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.navbar .btn-demo:hover {
  background-color: white;
  color: #0b94f5;
  border: 2px solid #0b94f5;
}

.hero h1{
  /* font-size: 54px; */
  text-align: center;
  font-weight: 600;
}
/* Slider-------------------- */
.slick-slider {
  padding: 20px 0 !important;
  height: 600px !important;

}
.slick-list {
  position: relative;
  display: block;
  padding: 50px 0 !important;
  height: 600px !important;
}

@media only screen and (max-width: 767px) {
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 -20% 0 0 !important;
    padding: 0 !important;
  }
}
.carousel-img {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 370px !important;
  border-radius: 20px !important;
  position: relative !important;
  margin-left: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.carousel-img .inner-box {
 border-radius: 20px !important;
 height: 500px !important;
 padding: 30px;
}








.bg-centered-hero {
  animation: fadeInAnimation 2.5s ease;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  display: none;
  left: 50%;
  max-width: 1514px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 130%;
}
@media (min-width: 768px) {
  .bg-centered-hero {
    display: block;
    top: -1rem;
    transform: translate(-50%, -20%) scale(0.8);
    width: 1650px;
  }
}
.bg-centered-hero img,
.bg-centered-hero video {
  height: auto;
  width: 100%;
}
@keyframes fadeInAnimationMobile {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.8;
    transform: translate(-50%) scale(1);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
}
.hero_gradient-button-wrapper {
  position: relative;
}
.hero_gradient-button-wrapper.hover .hero_gradient-button {
  background-color: transparent;
  color: var(--color-gray-900);
}
.hero_gradient-button {
  background-clip: padding-box;
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
  color: #fff;
  transition-duration: 0.15s;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: ease;
}
.hero_gradient-button > span.button_content {
  position: relative;
  z-index: 1;
}
.hero_button-bg {
  border-radius: 9999px;
  content: "";
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -2;
}
@media (max-width: 768px) {
  .hero_button-bg {
    display: none;
  }
}
.hero_button-bg.hero_button-bg--blue {
  --start-color: #bfe8ff;
  --end-color: #9afeee;
  background-image: linear-gradient(
    112deg,
    var(--start-color),
    var(--end-color)
  );
}
.hero_button-bg.hero_button-bg--blue.animated {
  animation: animation-bg-1 6s infinite;
}
.hero_button-bg.hero_button-bg--green {
  --start-color: #9afee0;
  --end-color: #fff2c2;
  background-image: linear-gradient(
    112deg,
    var(--start-color),
    var(--end-color)
  );
}
.hero_button-bg.hero_button-bg--green.animated {
  animation: animation-bg-2 6s infinite;
}
.hero_button-bg.hero_button-bg--orange {
  --start-color: #ffb47d;
  --end-color: #ff9c8f;
  background-image: linear-gradient(
    112deg,
    var(--start-color),
    var(--end-color)
  );
}
.hero_button-bg.hero_button-bg--orange.animated {
  animation: animation-bg-3 6s infinite;
}
.hero_button-bg.hero_button-bg--lemon {
  --start-color: #fff0b8;
  --end-color: #ffb47d;
  background-image: linear-gradient(
    112deg,
    var(--start-color),
    var(--end-color)
  );
}
.hero_button-bg.hero_button-bg--lemon.animated {
  animation: animation-bg-4 6s infinite;
}
@keyframes animation-bg-1 {
  0%,
  16.667%,
  to {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animation-bg-2 {
  0%,
  16.667%,
  66.667%,
  to {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}
@keyframes animation-bg-3 {
  0%,
  50%,
  to {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
@keyframes animation-bg-4 {
  0%,
  33.333%,
  66.667%,
  to {
    opacity: 0;
  }
  50%,
  83.333% {
    opacity: 1;
  }
}















.navbar {
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  background: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #f2f4f7;
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 100;
}
.navbar.navbar-minimal {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  background: transparent !important;
  border-color: transparent !important;
  position: absolute;
}
.navbar > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .navbar > .container {
    justify-content: flex-start;
  }
}
.navbar .navbar-collapse {
  display: flex;
  width: 100%;
}
@media (min-width: 1024px) {
  .navbar .navbar-collapse {
    width: auto;
  }
}
.navbar .navbar-wrapper {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding: 8px 0 24px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 72px;
  transform: translateY(-2.56%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 100%;
}
.navbar .navbar-wrapper.active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
@media (min-width: 768px) {
  .navbar .navbar-wrapper {
    padding-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  .navbar .navbar-wrapper {
    background-color: transparent;
    box-shadow: none;
    flex-flow: row;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
    padding: 0;
    pointer-events: all;
    position: relative;
    right: auto;
    top: auto;
    transform: translateY(0) !important;
    width: auto;
    width: 100%;
  }
}
.navbar .navbar-brand {
  margin-top: -6px;
}
.navbar .navbar-brand svg {
  max-height: 24px;
  width: auto;
}
ul.navbar-nav {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}
@media (min-width: 1024px) {
  ul.navbar-nav {
    flex-flow: row;
    gap: 32px;
    margin-left: 84px;
    width: auto;
  }
}
ul.navbar-nav > li {
  border-bottom: 1px solid var(--color-gray-600);
  position: relative;
  width: 100%;
}
@media (min-width: 1024px) {
  ul.navbar-nav > li {
    border-bottom: none;
    width: auto;
  }
}
ul.navbar-nav > li > a {
  align-items: center;
  color: var(--color-gray-900);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  padding: 14px 16px;
  position: relative;
  text-align: left;
  transition: color 0.15s ease-in-out;
}
@media (min-width: 768px) {
  ul.navbar-nav > li > a {
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  ul.navbar-nav > li > a {
    display: inline-flex;
    padding: 16px 0;
  }
  ul.navbar-nav > li > a:focus,
  ul.navbar-nav > li > a:hover {
    color: var(--color-cerulean-400);
  }
}
ul.navbar-nav > li.menu-item-has-children > a:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMTExOTI3IiBkPSJNMjMzLjQgNDA2LjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBsMTkyLTE5MmMxMi41LTEyLjUgMTIuNS0zMi44IDAtNDUuM3MtMzIuOC0xMi41LTQ1LjMgMEwyNTYgMzM4LjcgODYuNiAxNjkuNGMtMTIuNS0xMi41LTMyLjgtMTIuNS00NS4zIDBzLTEyLjUgMzIuOCAwIDQ1LjNsMTkyIDE5MnoiLz48L3N2Zz4=);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  content: "";
  display: inline-block;
  height: 11px;
  margin-left: 8px;
  position: absolute;
  right: 18px;
  transform: translateY(-1px);
  transition: transform 0.15s ease-out;
  width: 16px;
}
@media (min-width: 768px) {
  ul.navbar-nav > li.menu-item-has-children > a:after {
    right: 0;
  }
}
ul.navbar-nav > li.menu-item-has-children > a.active:after {
  transform: rotate(180deg);
}
@media (min-width: 1024px) {
  ul.navbar-nav > li.menu-item-has-children > a:after {
    position: relative;
    right: auto;
  }
}
ul.navbar-nav > li.menu-item-has-children:hover > .sub-menu {
  opacity: 1;
}
ul.navbar-nav > li.menu-item-has-children > ul {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0;
  position: relative;
  transition: all 0.15s ease-out;
}
@media (min-width: 1024px) {
  ul.navbar-nav > li.menu-item-has-children > ul {
    display: flex;
    opacity: 0;
    padding: 12px;
    pointer-events: none;
    position: absolute;
  }
}
@media (max-width: 1023px) {
  ul.navbar-nav > li.menu-item-has-children > ul.show {
    display: flex;
  }
}
@media (min-width: 1024px) {
  ul.navbar-nav > li.menu-item-has-children > ul.show {
    opacity: 1;
    pointer-events: all;
  }
}
ul.navbar-nav > li.menu-item-has-children > ul > li {
  display: flex;
  width: 100%;
}
ul.navbar-nav > li.menu-item-has-children > ul > li > a {
  align-items: center;
  display: flex;
  font-weight: 500;
  gap: 16px;
  padding: 12px 16px;
  transition: color 0.15s ease-out;
  width: 100%;
}
ul.navbar-nav > li.menu-item-has-children > ul > li > a:hover {
  color: var(--color-cerulean-400);
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
@media (min-width: 1024px) {
  ul.navbar-nav > li.menu-item-has-children > ul > li > a {
    padding: 14px 24px;
    white-space: nowrap;
  }
}
ul.navbar-nav > li.menu-item-has-children > ul > li > a .nav-item-icon {
  height: 24px;
  width: 24px;
}
ul.navbar-nav > li.menu-item-has-children > ul > li > a .nav-item-icon img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
ul.navbar-nav > li.menu-item-has-children > ul > li > a:focus,
ul.navbar-nav > li.menu-item-has-children > ul > li > a:hover {
  color: var(--color-cerulean-400);
}
.menu-item-type-custom > a i {
  opacity: 1;
  position: absolute;
  right: 18px;
}
@media (min-width: 768px) {
  .menu-item-type-custom > a i {
    position: relative;
    right: auto;
  }
}
@media (min-width: 1024px) {
  .menu-item-type-custom:hover > a i {
    opacity: 1;
    transform: rotate(180deg);
    transform-origin: center;
  }
  .menu-item-type-custom:hover > a,
  .menu-item-type-custom:hover > i {
    color: #0b94f5;
  }
}
.mega-menu {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.mega-menu header h1,
.mega-menu header h2,
.mega-menu header h3,
.mega-menu header h4,
.mega-menu header h5,
.mega-menu header h6,
.mega-menu header p {
  color: var(--color-gray-600);
}
.mega-menu header .mega-menu-title {
  color: var(--color-gray-900);
}
@media (min-width: 1024px) {
  .mega-menu {
    display: none;
    padding-left: 0;
    padding-right: 0;
  }
  .mega-menu header {
    border-bottom: 1px solid #d2d6db;
  }
}
@media (max-width: 1024px) {
  .mega-menu {
    height: calc(100vh - 4.4375rem);
    left: 100vw;
    min-width: 100%;
    overflow-y: auto;
    padding-bottom: 6.25rem;
    top: -3.75rem;
  }
  .mega-menu .mobile-item {
    border-bottom: 1px solid #6c737f;
  }
  .mega-menu .sub-item-wrap,
  .mega-menu header {
    position: relative;
  }
  .mega-menu .sub-item-wrap:after,
  .mega-menu header:after {
    border-bottom: 1px solid #6c737f;
    bottom: 0;
    content: " ";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 20px);
  }
  .mega-menu .sub-item-wrap li:last-child {
    margin-bottom: 0;
  }
  .mega-menu .sub-item-wrap:nth-child(2):after {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .mega-menu {
    left: -30px;
    min-width: 525px;
  }
}
.mega-menu .sub-item-wrap a,
.mega-menu .sub-item-wrap i {
  transition: 0.2s;
}
@media (min-width: 768px) {
  .mega-menu .sub-item-wrap a:hover,
  .mega-menu .sub-item-wrap i:hover {
    color: #0b94f5;
  }
}
.mega-menu .sub-item-wrap .mega-icon {
  height: auto;
  max-width: 25px;
}
.mega-menu .sub-item-wrap a:not(.sparkle-link) {
  -webkit-text-decoration: underline 0.15em;
  text-decoration: underline 0.15em;
  text-decoration-color: transparent;
  text-underline-offset: var(--offset, 0.2em);
  transition: --offset 0.4s, text-decoration-color 0.4s;
}
.mega-menu .sub-item-wrap a:not(.sparkle-link):hover {
  --offset: 0.3em;
  text-decoration-color: #0b94f5;
}
.mega-menu .sub-item-wrap .sparkled a,
.mega-menu .sub-item-wrap li:hover a,
.mega-menu .sub-item-wrap li:hover i {
  color: #0b94f5;
}
.mega-menu .sub-item-wrap .sparkled a i {
  margin-left: 4px;
}
.mega-menu .sub-item-wrap i {
  font-size: 18px;
}